// color 
$bdcl:#ddd;
$bdhv:#ccc;
$lightskyblue:#87cefa;
// border
$bd:1px solid #ddd;
// font-family
$ftfm:'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, TIBch, "Helvetica Neue", Arial, STHeiti, serif;
// css reset
body, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
ul, ol { list-style: none; }
fieldset, img { border: none; }
button, input, textarea {
    font-size: 100%;
}

a {
    color: #666;
    text-decoration: none;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in; transition: all .1s ease-in
}
a:hover,
a:active {
    color: #999;
}

mark {
    padding: 3px 3px 3px 5px;
    background: #fffdd1
}

pre,
code {
    background: #f8f8f8;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
    font-size: .92857em;
    display: block
}

pre {
    white-space: pre-wrap;
    margin: 2em 0;
    overflow: auto;
    background: none;
    border: 1px solid #ddd
}

blockquote {
    margin: 2em 1.5em;
    padding-left: 1.5em;
    border-left: 4px solid #ddd;
    color: #777
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
    padding: 6px;
    border:none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none
}

textarea {
    resize: vertical
}
*::selection {
    background: none repeat scroll 0 0 #1abc9c;
    color: #fff
}

*::-moz-selection {
    background: none repeat scroll 0 0 #1abc9c;
    color: #fff
}
html {
    min-height: 100%;
    background-color: #f5f5f5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    color: #444;
    font-size: 14px;
    font-family: Helvetica, Arial, "\5b8b\4f53", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// 清除浮动 
.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}
// particlesjs style start
#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.particles-js-canvas-el {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 1;
}
// particlesjs style end
#header,#body,#footer {
    position: relative;
    z-index: 10;
}
#header {
    padding: 58px 0 0;
    text-align: center;
    .col-group {
        border-bottom: $bd;
        .site-name {
            h1 {
                padding: 0;
                margin: 0;
            }
            .description {
                margin-top: 20px;
                font-size: 16px;
                font-family: $ftfm;
                color: #555
            }
        } 
        #logo {
            font: bold 42px/1.12 $ftfm;
            color: #555;
            &:hover {
                color:#777;
            }
        }
    }
}
// grid
.container {
    width: 1150px;
    padding: 0 30px;
    margin: 0 auto;
}
#main {
    width: 880px;
    padding-top: 20px;
    float: left;
}
#nav-menu {
    margin: 10px 0 -1px;
    padding: 0;
    font-size: 0;
    float: right;
    a {
        display: inline-block;
        padding: 0 17px;
        height: 28px;
        line-height: 28px;
        color: #666;
        font-size: 14px;
        border: 1px solid transparent;
        &:hover {
            color:#999;
        }
    }
    a.current {
        border-radius: 2px 2px 0 0;
        background: #fff;
        border: $bd;
        border-bottom-color: #f5f5f5;
    }
}

#secondary {
    float: right;
    width: 245px;
    padding-left: 15px;
    font-family: $ftfm;
    word-wrap: break-word;
    display: block;
    padding-top: 40px;
}

.post {
    position: relative;
    padding: 25px;
    border-left: 3px solid transparent;
    background-color: #fff;
    margin: 20px 0;
    border: $bd;
    &:hover {
        border-color:$bdhv; 
    }
    .post-title {
        margin: 0;
        color: #555;
        text-align: left;
        font: bold 28px/1.2 $ftfm;
        a {
            word-break: break-all;
            cursor: pointer;
            cursor: -webkit-zoom-in;
        }
    }
    .post-meta {
        padding: 0;
        margin: 4px 0 0 3px;
        color: #666;
        font-family: $ftfm;
        text-align: left;
        display: block;
        span {
            margin-right: 20px;
            word-break: break-all;
        }
        a:hover {
            color:#999;
        }
    }
    .post-content {
        font-size: 14px;
        color: #444;
        padding-top: 27px;
        line-height: 1.875;
        .little-title {
            font-family: $ftfm;
            font-size: 48px;
            text-align: center;
            color: #12a76b;
            line-height: 1.2;
            margin-bottom: 15px;
        }
        .title-sup {
            margin: 20px 0;
            border-top: 2px solid #12a76b;
            .title-arrow {
                width: 0;
                height: 0;
                margin: 0 auto;
                border: 10px solid transparent;
                border-top-color: #12a76b;
            }
        }
        h2 {
            font-size: 1.28571em;
        }
        pre code {
            padding: 1.5em 2em
        }
        p {
            margin: 0 0 1.234em;
            code {
                    margin: 0 5px;
                    padding: 3px 5px;
                    border: 1px solid #ddd;
            }
        }
        img {
            padding: 0;
            max-width: 100%;
        }
        a {
            color: #428bca;
            text-decoration: underline;
            &:hover {
                color:$lightskyblue;
            }
            img {
                background: #FFF;
                position: relative;
                bottom: -4px
            }
        }
        ul {
            overflow: auto;
            padding: .5em 2.4em;
            border-radius: 3px;
            margin: 1.8em 0;
            li {
                text-indent: .5em;        
            }
        }
        hr {
            margin: 2.1em auto;
            width: 200px;
            border: 1px solid #ccc;
            border-width: 1px 0 0 0;
            position: relative;
        }
        .more {
            margin-top: 60px;
            text-align: right;
            a {
                position: absolute;
                bottom: -1px;
                right: -1px;
                cursor: pointer;
                cursor: -webkit-zoom-in;
                display: inline;
                line-height: 48px;
                width: auto;
                padding:0 20px;
                height: 48px;
                background: transparent;
                font-size: 16px;
                font-family: $ftfm;
                text-decoration: none;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                transition: 0.2s;
                color: #999;
                text-decoration: none;
                &:hover,&:focus {
                    background-color: #1ABC9C;
                    border-color: #1ABC9C;
                    color: white;
                }
            }
        }
    }
    .post-sub {
        position: absolute;
        bottom: 46px;
        left: 0;
        right: 0;
        border-top: 1px solid #ddd;
    }
}
.archive-title {
    padding-left: 10px;
    margin-top: 20px;
    height: 35px;
    line-height: 35px;
    color: #999;
    font-size: 1em;
    border: $bd;
    background: white;
}

// navigator
.page-navigator {
    list-style: none;
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        margin:4px 5px;
        padding: 5px 15px;
        height: 20px;
        line-height: 20px;
        border-radius: 1em .2em;
        border: $bd;
        transform: skewX(-8deg);
        &:hover {
            border-color:$bdhv;
            background-color: #fff;
        }
    }
    .current a {
        border-color: $bdhv;
        background-color: #fff;
    }
}
// sidebar
.widget {
    margin-bottom: 20px;
    a:hover {
        color:#999;
    }
    // search button
    #search {
        position: relative;
        overflow: hidden;
        border: $bd;
        &:hover {
            border: 1px solid $bdhv;
        }
        input {
            border: none;
            width: 100%;
            padding: 8px 15px 6px;
            line-height: 1.5;
            font-family: inherit;
            background-color: #fff;
        }
        button {
            position: absolute;
            top: -2px;
            right: 10px;
            font-size: 20px;
            line-height: 1.5;
            border: none;
            padding: 5px 0;
            width: 20px;
            color: #ccc;
            background: none;
        }
    }
    .widget-title {
        color: #666;
        line-height: 2.5;
        font-size: 16px;
        margin-top: 0;
        border-bottom: $bd;
    }
    .widget-list {
        list-style: none;
        padding: 0;
        li {
            margin: 5px 0;
            line-height: 1.5;
        }
    }
}

.side-wrap {
    padding: 8px 15px 15px;
    background-color: #fff;
    margin-top: 10px;
    overflow: hidden;
    border: $bd;
    &:hover {
        border-color:$bdhv;
    }
}

#footer {
    padding: 25px 0;
    line-height: 1.5;
    color: #666;
    font-family: $ftfm;
}

.error-page {
    margin-top: 100px;
    margin-bottom: 100px
}


/* 404 */
.body404 {
    .info404 {
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;
        margin-top: -160px;
        z-index:10;
        header {
            letter-spacing: 2px;
            font: 700 88px/1.2 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
            font-style: normal;
        }
        .text404{
            font-size: 20px;
            margin: 0.5em 0 .6em
        }
        .back404 {
            margin-top: 13px;
            display: inline-block;
            padding: 14px 27px 14px 29px;
            color: #fff;
            white-space: nowrap;
            border-radius: 50px;
            text-align: center;
            cursor: pointer;
            background: #444;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 1px;
            font-size: 14px;
            -moz-user-select: -moz-none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            &:hover {
                background-color: #000;
                color: #fff
            }
        }
    }
    #footer404 {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1290px) {
    .container {
        width: auto;
    }
    #main {
        width: 100%;
        margin-right: -300px;
        float: left;
    }
    .wrap {
        width: auto;
        margin-right: 280px;
    }
    .post-content img {
        max-width: 100%;
    }
}

@media screen and (max-width: 1057px) {
    .container {
        width: auto;
    }
    #main {
        width: 100%;
        margin-right: -230px;
        float: left;
    }
    .wrap {
        width: auto;
        margin-right: 220px;
    }
    .widget {
        margin-bottom: 20px;
    }
    #secondary {
        width: 200px;
        margin-top: 35px;
        padding-top: 5px;
        padding-left: 0;

    }
    .post-content {
        font-size: 14px;
    }
}

@media screen and (max-width: 860px) {
    #header {
        text-align: center
    }
    #main {
        width: 100%;
        margin-right: 0
    }
    #nav-menu {
        margin: 25px 0 -1px;
        float:none;
    }
    .wrap {
        width: auto;
        margin-right: 0
    }
    #secondary {
        display: none
    }
    #footer {
        text-align: center;
    }
}

@media screen and (max-width: 680px) {
    .container {
        padding: 0 10px;
    }
    #main {
        padding-top: 10px;
    }
    .post {
        padding: 12px;
        margin-top: 10px;
        .post-title {
            font-size: 20px;
        }
        .post-content img {
            padding: 0.2em 0;
        }
    }
}

